  <nav>
    <div class="logo">MyLogo</div>
    <div class="menu">
      <a href="{{ abs_path | safe }}index.html">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
  </nav>